/* css fonts
1 font-family: 'Noto Serif', serif; (this is roboto)
2 font-family: 'Roboto Condensed', sans-serif; (this is roboto sans)
3 font-family: 'Ubuntu', sans-serif; (this is Ubantu)
 */
/* ------------------------Css Styling Starts Here----------------------------------------------- */
body {
    margin: 0;
    font-family: 'Noto Serif', 'serif';

}

hr {
    width: 700px;
}

/* ---------------------------------------------------header and banner section is here-------------- */
.banner {
    /* background-color: antiquewhite; */
    background-image: url(images/donation1.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-bottom: 100px;
}

.banner-para {
    padding-top: 70px;


}

#banner-first-line {
    color: white;
    font-size: 70px;
}

#banner-secound-line {
    color: white;
    font-size: 50px;
}

.small-para {
    color: whitesmoke;
    padding-top: 5px;
}

/* button */
.donate-now-btn {
    background-color: tomato;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 4px;
}

.donate-now-btn:hover {
    background-color: white;
    color: tomato;
}

/* ----------------------------------------Donation section starts here */
.donation-section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

#donation-heading {
    font-size: 35px;
    font-weight: 900;
    font-family: 'Roboto Condensed', 'sans-serif';
}

.donation-para {

    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue';

}

.price-list {
    align-items: center;
    text-align: center;
}

.price-tags {
    display: flex;
    /* background-color: red; */
    padding-left: 430px;


}

.pricing-box {
    height: 60px;
    width: 110px;
    background-color: aqua;
    margin: 13px;
    padding-top: 30px;
    padding-bottom: 12px;
    border-radius: 5px;
    background-color: aliceblue;
    font-size: 25px;
    font-weight: 700;

}

#highlighted-price-tag {
    background-color: rgb(230, 224, 224);
    border: 1px solid rgb(178, 74, 37);
    color: tomato;
    font-size: 35px;
    height: 50px;
    width: 110px;
    margin: 13px;
    padding-top: 25px;
    padding-bottom: 24px;
    border-radius: 5px;
    font-weight: 900;
}

/* --------Other amount div---------- */
.other-amount-div {
    padding-top: 50px;
}

/* ------------------------------------Plans section is here------------------ */
.plans {
    /* background-color: aqua; */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.plans-header {
    font-size: 40px;
    font-weight: 700;
}

#small-para-plan {
    font-family: Courier;
}

/* ---------------------Cards----- */
.flexible-card-section {
    display: flex;
    margin-left: 360px;
    margin-bottom: 20px;

}

.main-card-one {
    width: 204px;
    height: 191px;
    padding: 10px;
    background-color: antiquewhite;
    padding-top: 31px;
    border-radius: 4px;
    margin-right: 30px;
}

.main-card-two {
    width: 204px;
    height: 191px;
    padding: 10px;
    background-color: lightpink;
    padding-top: 31px;
    border-radius: 4px;
    margin-right: 30px;
}


.main-card-three {
    width: 204px;
    height: 191px;
    padding: 10px;
    background-color: lightcyan;
    padding-top: 31px;
    border-radius: 4px;
    margin-right: 30px;
}

.card-icon {
    height: 50px;
    width: 54px;
}

.cards-para {
    font-size: 10px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue';

}

#card-heading {
    font-weight: 900;
    font-size: 17px;
}

/* -------------------------card section ends here------------------- */

/* --------------------success story section-------------- */
.success-img-size {
    height: 50%;
}